.rbgcp-input-label {
    color: black !important;
    padding-top: 5px;
}

.div-Gradient {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 3rem;
}

.card {
    background-color: black;
    color: white !important;
}

label {
    color:black !important;
}

@media only screen and (max-width: 991px) {
    /* tablets */
    body {
      font-size: 14px; 
    }
  }
  
  /* móviles */
  @media only screen and (max-width: 767px) {
   
        .div-Gradient {
            display: flex !important;
            flex-direction: column;
            gap: 15px ;
            
        }
        .card {
            padding: 25px !important;
            display: inline-block;
            background-color: white !important;
        }
        .ejemploGradient {
            padding: 0px !important;
        }
  }

