
body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.demo{
  padding-left: 12px;
  font-size:40px;
}

.rainbow{
		animation: rainbow 7.5s linear;
		animation-iteration-count: infinite;
  }
  
  @keyframes rainbow{
    100%,0%{
      color: rgb(255,0,0);
    }
    8%{
      color: rgb(255,127,0);
    }
    16%{
      color: rgb(255,255,0);
    }
    25%{
      color: rgb(127,255,0);
    }
    33%{
      color: rgb(0,255,0);
    }
    41%{
      color: rgb(0,255,127);
    }
    50%{
      color: rgb(0,255,255);
    }
    58%{
      color: rgb(0,127,255);
    }
    66%{
      color: rgb(0,0,255);
    }
    75%{
      color: rgb(127,0,255);
    }
    83%{
      color: rgb(255,0,255);
    }
    91%{
      color: rgb(255,0,127);
    }
    95%{
      color: rgb(82, 0, 234);
    }
    99%{
      color: rgb(0, 93, 242);
    }
  }
  .container {
    text-align: center;
  }
  
  .img-fluid {
    width: 300px;
    margin-top: -100px !important;
  }
  
  .text-container {
    max-width: 700px;
    margin-top: 40px !important;
    margin: 0 auto; 
  }
  
  
  .text-secondary {
    white-space: normal; 
  }
  
  .Redes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
    font-size: 25px;
    color: white !important;
  }
  

  @media only screen and (max-width: 991px) {
    /* tablets */
    body {
      font-size: 14px; 
    }
  }
  
  /* móviles */
  @media only screen and (max-width: 767px) {
    
    .Redes {
      gap: 20px;
    }

    h1 strong {
      font-size: 25px !important;
    }

    .contentTextTwo {
      max-width: 90% !important;
    }
    
    .leading-tight {
      max-width: 10%; 
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
    }
  }