@import url(https://db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=SofiaPro-Bold);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: none !important;
}

body {
  min-height: 100vh !important;
  font-family: "SofiaPro-Bold";
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px; 
}


::-webkit-scrollbar-thumb {
  background: #929090; 
  border-radius: 4px; 
}


::-webkit-scrollbar-track {
  background: #f5f5f5; 
  border-radius: 6px; 
  box-shadow:5px black;
}